/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$c1: #8430d9;
$c2: #600db1;

@mixin user {
  .user {
    display: flex;
    padding: 10px;
    gap: 10px;
    justify-content: space-around;

    img {
      border: solid 10px #ffffff21;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }

    h3 {
      margin-left: 20px;
      margin-top: 40px;
    }

    div {
      background-color: $c2;
      border-radius: 20px;
      color: #fff;
      padding: 10px 20px 10px 30px;
      width: calc(100% - 180px);

      a {
        text-decoration: none;
        color: #fff;

        h3 {
          text-align: left;
          font-size: 25px;
        }
      }

      a:hover {
        color: yellow;
      }

      span {
        float: left;
        color: rgba(255, 255, 255, 0.59);
        font-size: 16px;
        margin-bottom: 10px;
      }

      .new_post,
      .edit_profile {
        float: right;
        margin: 0 10px;
        text-decoration: underline;
        font-size: 13px;
      }
    }

    @media only screen and (max-width: 440px) {
      div {
        padding: 10px 10px;
        width: calc(100% - 150px);

        h2 {
          margin: 0;
        }

        .new_post,
        .edit_profile {
          float: left;
          margin-left: 0;
          margin-bottom: 5px;
          display: block;
          clear: left;
          opacity: 0.8;
        }
      }
    }
  }

  div.user {
    padding-bottom: 2px;

    div {
      // border-radius: 20px 20px 0 0;
      background-image: linear-gradient(to top, $c2, #4a0b87);
    }
  }
}

@mixin bio {
  p.bio {
    width: calc(100% - 80px);
    background-image: linear-gradient(to top, #600db187, $c2);
    border-radius: 20px;
    font-size: 19px;
    text-align: left;
    margin: 0 10px;
    padding: 30px;
  }
}

@mixin post {
  .post {
    width: calc(100% - 20px);
    background-color: #5f0db13e;
    border-radius: 20px;
    text-align: left;
    margin: 10px;
    padding: 0;
    list-style: none;
    // background-image: linear-gradient(0deg, #600db136, #600db1);

    a,
    >div {
      color: white;
      text-decoration: none;
      padding: 30px;
      display: block;

      p {
        padding: 0;
        margin: 0;
        // width: calc(100% - 20px);
        margin-bottom: 40px;
      }

      p.articleText {
        margin-top: 80px;
      }

      span {
        float: right;
        margin-left: 30px;
        font-size: 14px;
        color: #ffffffa1;
      }
    }

    form {
      display: inline-block;
      padding-bottom: 20px;

      a {
        display: inline;
        color: #fffe8c;
      }

      input[type="submit"] {
        background-color: transparent;
        border: none;
        color: #fffe8c;
        cursor: pointer;
      }

      button[type="submit"] {
        background-color: red;
        border: solid 1px white;
        padding: 5px;
        border-radius: 5px;
        margin-left: 30px;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

@mixin comments {
  .comments {
    padding: 30px;

    ul {
      padding: 0;

      li {
        list-style: none;
        margin: 5px 5px 5px 30px;

        span {
          color: #fff;
          float: none;
          margin: 0;
          font-style: italic;
        }

        span.commentTime {
          color: #ffffffa1;
        }
      }
    }
  }
}

@mixin container {
  .container {
    max-width: 300px;
    margin: auto;

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      margin: 5px 0 20px 0;
      height: 30px;
      outline: none;
      border-radius: 10px;
      width: 300px;
      font-size: 18px;
      border: solid 3px $c1;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
      border: solid 3px #600db187;
    }

    input[type="submit"] {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
      border: solid 1px rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      width: 300px;
      height: 40px;
      margin: 10px 0;
      font-size: 18px;
    }

    input[type="submit"]:hover {
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }

    a {
      color: rgba(255, 255, 255, 0.75);
      font-size: 16px;
      margin: 5px 0;
      display: block;
      width: 300px;
    }
  }
}

@mixin pagination {
  .pagination ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    li {
      list-style: none;

      a {
        background-color: #fff;
        color: $c1;
        font-weight: bold;
        font-size: 18px;
        width: 35px;
        height: 35px;
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 5px;
        border: solid 1px #fff;
      }

      a.active {
        background-color: $c2;
        color: #fff;
      }

      a:hover {
        background-color: $c1;
        color: #fff;
      }
    }
  }
}

.alert {
  color: red;
  background-color: rgba(255, 255, 255, 0.869);
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}

.notice {
  color: rgb(89, 0, 255);
  background-color: rgba(255, 255, 255, 0.869);
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}

.layout {
  >h2 {
    text-align: center;
  }
}

.mail {
  background-color: $c1;
  color: #fff;
}

html {
  background-color: $c1;
  color: #fff;
  font-family: Helvetica, sans-serif;

  body {
    width: calc(100% - 20px);
    max-width: 780px;
    margin: auto;
    padding: 10px;

    @include user;
    @include bio;
    @include post;
    @include comments;
    @include container;
    @include pagination;

    h1 {
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    .links {
      display: flex;
      gap: 10px;
      justify-content: space-around;
      padding: 10px;

      a {
        border: solid 1px rgba(255, 255, 255, 0.566);
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        width: 100%;
        text-align: center;
        text-decoration: none;
      }

      a:hover {
        background-color: rgba(255, 255, 255, 0.068);
      }
    }

    .app_layout_header {
      text-align: right;
      padding-right: 10px;
    }

    form[action$="users/sign_out"] {
      display: inline-block;

      button {
        background-color: $c2;
        color: yellow;
        border: solid 1px $c2;
        border-radius: 3px;
        padding: 5px;
        margin-top: 5px;
        cursor: pointer;
      }
    }

    form[action$="delete"] {
      display: inline;
    }

    .delete_post,
    .delete_comment {
      background-color: $c2;
      color: yellow;
      border: solid 1px $c2;
      border-radius: 3px;
      padding: 5px;
      margin-top: 5px;
      cursor: pointer;
      margin-left: 30px;
    }

    form[action$="new"],
    form[action$="edit"] {
      text-align: center;

      div {
        text-align: left;
        margin-bottom: 15px;

        input[type="text"],
        textarea,
        .rich_text {
          width: calc(100% - 10px);
          font-family: Helvetica, sans-serif;
          border-radius: 10px;
          border: solid 3px #fff;
          background-color: #fffc;
          color: $c2;
          font-size: 22px;
          outline: none;
          margin: 10px 0;
        }

        .rich_text {
          width: calc(100% - 35px);
          height: 450px;
          overflow: auto;
        }

        .trix-button-row {
          flex-wrap: wrap;
          width: 100%;
        }

        input[type="text"] {
          height: 35px;
        }

        textarea {
          height: 250px;
        }

        input[type="text"]:focus,
        textarea:focus,
        .rich_text:focus {
          border: solid 3px $c2;
          background-color: #fff;
        }

        .trix-button {
          background-color: #fff;
        }
      }

      input[type="submit"] {
        width: 100%;
        font-family: Helvetica, sans-serif;
        border-radius: 10px;
        background-color: $c2;
        color: yellow;
        font-size: 25px;
        outline: none;
        height: 60px;
        border: solid 3px $c2;
        opacity: 0.9;
        float: left;
      }

      input[type="submit"]:hover {
        background-color: $c2;
        opacity: 1;
        cursor: pointer;
      }
    }

    .frm_user_edit {
      margin-bottom: 90px;
    }

    .btn_back {
      width: 100%;
      padding-top: 20px;
      font-family: Helvetica, sans-serif;
      color: yellow;
      font-size: 25px;
      outline: none;
      height: 60px;
      opacity: 0.75;
      display: block;
      text-align: center;
    }
  }
}
